@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* body
{
 font-family: 'Inter', sans-serif;
}  */

.active {
  @apply text-orange-600 underline underline-offset-4
}


.pagination {
  display: flex; 
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding:0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: inline;
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #eee;
}


.pagination li.activerPaginaition a {
  background-color: rgb(255, 106, 0);
  color: #fff;
  border-radius: 4px;
}

.active-button {
  color: #fc3c1a;
}